<div>
    <table>
        <tr>
            <td><a href = "/hello">欢迎</a></td>
            <td><a href = "/use_template">渲染模板</a></td>
            <td><a href = "/pvuv">PVUV</a></td>
            <td><a href = "/show_add_user">注册用户</a></td>
            <td><a href = "/show_users">用户列表</a></td>
            <td><a href = "/show_echarts">echarts报表</a></td>
            <td><a href = "/show_pyecharts">pyecharts报表</a></td>
            <td><a href = "/show_myecharts">自己的报表</a></td>
            <td><a href = "/download_pvuv_excel">下载</a></td>
        </tr>
    </table>
</div>